{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "singleQuote": false,
  "printWidth": 100,
  "proseWrap": "preserve",
  "quoteProps": "preserve",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
