.header {
  height: 122px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;

  color: #010101;
}
